# data
data/img/
/Users/jeremy/hmer-im2latex/data/img


/outputs
img/
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff

.DS_Store


# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/    
*.egg-info/
.installed.cfg
*.egg
MANIFEST


.ruff_cache

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# models checkpoints 
*.pth
*.pt
*.pth.tar
*.pt.tar
*.pth.tar.gz
*.pt.tar.gz
*.pth.tar.gz.part
*.pt.tar.gz.part
docs/implementaion journal.md
outputs/formula_analysis/length_histogram_data.csv
CLAUDE.md



/Users/jeremy/hmer-im2latex/docs/README_METRICS.md

/Users/jeremy/hmer-im2latex/docs/implementaion journal.md


/Users/jeremy/hmer-im2latex/docs/new_report.md

!/outputs/image_analysis/images/pixel_distribution.png
!/outputs/image_analysis/images/size_distribution.png
!/outputs/img2latex_v2/plots/accuracy_curves.png
!/outputs/img2latex_v2/plots/bleu_score.png
!/outputs/image_analysis/images/formula_image_grid.png
!/outputs/img2latex_v2/plots/composite_metrics.png
docs/brief.md
